body{
    margin: 30px;
    font-family: arial;;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman';
}

.grid-container{
    max-width: 900px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 400px 400px 400px;
    justify-items: stretch;
    align-items: stretch;
}

.grid-container > div {
    text-align: center;
}

.grid-container > div:nth-child(13){
    grid-column: 2/ span 4;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
}

img{
    width: 300px;
    margin: 0px auto;
}

.buttonsright{
    margin-top: 150px;
    height: 100px;
}

.buttonsleft{
    margin-top: 150px;
    height: 100px;
}

#selection{
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 2;
    background: none;
}
