body{
    font-family: 'arial';
}

h1{
    text-align: center;
    
}

ul {
    justify-content: center;
    display:flex
}

ul li{
    background-color: rgba(120, 29, 211, 0.43);
    color: white;
    list-style-type: none;
    display: inline-block;
    padding: 5px 15px;
    margin-right: 30px;
}

ul li a{
    color: white;

}

section{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#slideshow1{
    width:200px;
    position:relative;
}
#slideshow2{
    width:200px;
    position:relative;
}
#slideshow3{
    width:200px;
    position:relative;
}
#slideshow4{
    width:200px;
    position:relative;
}

img{
    width:100%;
}

.buttonsleft{
    position:absolute;
    top:125px;    
    left:10px;
}

.buttonsright{
    position: absolute;
    top:125px;
    right:10px;
}



#options{
    padding: 10px;
    text-align: left;
}
